.calculator-container .bmi {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

.bmi-form {
  width: 600px;
  height: 340px;
  color: #000;
  background: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.bmi-form h3 {
  text-align: center;
  transform: translateY(10px);
  margin-bottom: 5px;
}

.bmi-form-control {
  display: flex;
  flex-direction: column;
}

.bmi-form-control label {
  font-size: 1.25rem;
  margin-top: 25px;
  margin-left: 75px;
}

.bmi-form-control input {
  width: 75%;
  height: 35px;
  font-size: 1.05rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bmi-form-control input[type="text"] {
  padding-left: 5px;
}

.bmi-form input[type="submit"] {
  border: 1px solid #00c2ff;
  border-radius: 5px;
  background-color: #00c2ff;
  color: #fff;
  font-weight: 600;
  width: 115px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  margin-left: 175px;
}

.bmi-form input[type="submit"]:hover,
.bmi-form .save-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bmi-form .save-btn {
  border: 1px solid #33ff77;
  border-radius: 5px;
  background-color: #33ff77;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  width: 115px;
  height: 40px;
  margin-left: 15px;
}