.homepage-container {
  border: 2px solid #0f0;
}

.homepage-container h1 {
  margin-left: 50px;
  margin-bottom: 25px;
}

.homepage-container .top-row {
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.homepage-container .bottom-row {
  align-items: center;
}

.bottom-row img {
  width: 75%;
  height: 75%;
  border: 2px solid pink;
}

.homepage-container .top-row,
.homepage-container .bottom-row {
  display: flex;
  justify-content: space-evenly;
}

.top-row .workout-tracker,
.top-row .meal-tracker {
  width: 750px;
}

.bottom-row .bmi-tracker,
.bottom-row .bmi-graph {
  width: 750px;
}

.homepage-container .bottom-row-label {
  text-align: center;
  margin-bottom: 10px;
}